body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.bg {
    /* The image used */
    background-image: url("bg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title {
    margin-top: 100px;
    text-align: left;
}

.page-title h1 {
    color: white;
    font-weight: 400;
    font-size: 3.5em;
}

#upload-btn-row {
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
}

#upload-btn {
    font-size: 1.5em;
}

#upload-btn:hover {
    color: #820984;
}
