<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>cap.py</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow:200,400,600" rel="stylesheet">

    <!--stylesheets and scripts-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>

    <script>
        var quotesArray = [];
        {% for quote in quotes %}
        quotesArray.push("{{ quote|safe }}")
        {% endfor %}

        function getRandomCaption() {
            document.getElementById("caption").innerHTML = quotesArray[Math.floor(Math.random() * quotesArray.length)];
        };
    </script>
</head>

<body>

    <header>
        <div class="container page-title">
            <a href="../#">
                <h1>[cap.py]</h1>
            </a>
        </div>
        <div class="container page-description">
            <p>a photo caption generator</p>
        </div>
    </header>

    <!-- Target -->
    <main>
        <div class="container">
            <div class="row form-group">
                <img src="data:image/png;base64, {{ image }}" class="col-md-6" id="original" height="400" width="400">
                <div class="col-md-6">
                    <!--<h1 id="caption-heading">Your Caption</h1>-->
                    <div id="caption-text">
                        <div id="caption"></div>
                        <div id="hashtags">{{ hashtags }}</div>
                    </div>

                    <div class="row btn-row">
                        <span>
                            <input id="boxid" type="checkbox" checked="true">
                            <label for="boxid">Hashtags</label>
                        </span>

                        <button class="btn btn-primary" id="copy-caption" data-clipboard-action="copy" data-clipboard-target="#caption-text">
                            Copy
                        </button>
                        <button class="btn btn-secondary" onclick="getRandomCaption()">
                            Regenerate
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        (function () {
            new Clipboard('#copy-caption');
        })();
        window.onload = function () {
            document.getElementById("caption").innerHTML = quotesArray[0];
            var checkbox = document.getElementById("boxid");
            checkbox.addEventListener("change", handleHashtags, false);
            getRandomCaption();
        };
        function handleHashtags() {
            var isChecked = document.getElementById("boxid").checked;
            if (isChecked) {
                document.getElementById("hashtags").innerHTML = "{{ hashtags }}";
            }
            else {
                document.getElementById("hashtags").innerHTML = '';
            }
        }
    </script>
</body>

</html>
