<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Instagram Caption Generator</title>

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,600" rel="stylesheet">

    <!--stylesheets and scripts-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body class="bg">
    <div class="container page-title">
        <h1>Instagram Caption Generator</h1>
    </div>

    <div class="container">
        <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input id="file-picker" type="file" name="file" accept="image/*" multiple>
            <div id="msg"></div>

            <input class="btn btn-primary" type="submit" value="Upload!" id="upload-btn">
        </form>
    </div>
</body>

</html>
