<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>cap.py</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow:200,400,600" rel="stylesheet">

    <!--stylesheets and scripts-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $(document).ready(
            function () {
                $("input:file").change(
                    function () {
                        if ($(this).val()) {
                            $('input:submit').removeAttr('disabled');
                        }
                    }
                );

                $('input[type="file"]').change(function () {
                    if ($(this).val()) {
                        var filename = $(this).val().replace(/^.*[\\\/]/, '');
                        $(this).closest('#upload-form').find('#file-name').html(filename);
                    }
                });

            });
    </script>
</head>

<body>
    <header>
        <div class="container page-title">
            <a href="#">
                <h1>[cap.py]</h1>
            </a>
        </div>
        <div class="container page-description">
            <p>a photo caption generator</p>
        </div>
    </header>

    <main>
        <div class="container" id="upload-container">
            <form id="upload-form" action="{{ url_for('loading') }}" method="POST" enctype="multipart/form-data">
                <div class="center-flex-container">
                    <input id="file-picker" type="file" name="file" accept="image/*" multiple>
                    <label for="file-picker">Choose a file</label>
                    <span id="file-name"></span>
                </div>
                <div class="center-flex-container">
                    <input class="btn btn-lg btn-primary" id="upload-btn" type="submit" value="Upload" disabled="true">
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div id="footer-logo">
            <img src="{{ url_for('static',filename='img/logo-white.png') }}" width="20%" height="20%"/>
        </div>
    </footer>
</body>

</html>