body, html {
    height: 100%;
    margin: 0;
    background-color: #33c698;
}

body {
    font-family: Rubik, Helvetica, sans-serif;
    color: white;
}

input {
    padding-bottom: 30px;
}

.page-title {
    margin-top: 100px;
    text-align: center;
}

.page-title h1 {
    color: white;
    font-family: "Patua One";
    font-size: 4em;
}

.page-description {
    padding-top: 10px;
    text-align: center;
}

.page-description p {
    font-size: 18px;
    font-weight: 400;
}

/*
.original img {
    height: 100px;
    width: 100px; 
    float: left;
    position: relative;
    background-position: 25% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.container#upload-form {
    margin-left: auto;
    margin-right: auto;
}

.btn-row {
    display: flex;
    justify-content: flex-start;
}

.btn-primary,
.btn-primary:disabled {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: transparent;
}

.btn-primary:hover:enabled {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: transparent;
}

.btn-outline-light:hover {
    color: #820984;
}

#upload-form {
    padding-top: 30px;
}

#upload .center-flex-container {
    display: flex;
    justify-content: center;
}

#upload-btn {
    display: block;
}
