body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 200;
}

input {
    padding-bottom: 30px;
}

.bg {
    /* The image used */
    background-image: url("/static/img/bg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title {
    margin-top: 100px;
    text-align: left;
}

.page-title h1 {
    color: white;
    font-weight: 400;
    font-size: 3em;
}

/*
.original img {
    height: 100px;
    width: 100px; 
    float: left;
    position: relative;
    background-position: 25% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.btn-row {
    display: flex;
    justify-content: flex-start;
}

.btn-primary {
    background-color: #820984;
    border-color: #820984;
}

.btn-primary:hover {
    background-color: #4d034f;
    border-color: #4d034f;
}

.btn-outline-light:hover {
    color: #820984;
}

#upload-form {
    padding-top: 30px;
}
